@import 'variables.scss';
@import 'mixins.scss';

/* Reset */
* {
    margin: 0px; /* Отступ снаружи */
    padding: 0px; /* Отступ внутри */
    box-sizing: border-box;
  }

  body {
    padding: 30px;
  }

  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #007BFF; /* Или другой цвет при наведении */
  }

  ul, ol {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
  }

  * {
    transition: all 0.3s ease-in-out;
  }
  
//BODY
html, body {
    //font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    transition: background 0.3s ease;

    &.dark-mode {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 120, 144, 1) 100%);
    }

    &.light-mode {
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }
}
//TOGGLE
#toggle-main {
    position: relative;
    width: 50px;
    height: 25px;
  }
  
  /* Скрываем стандартный checkbox */
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Стиль "трека" переключателя */
.toggle-label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffd561;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Шарик внутри переключателя */
.toggle-ball {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  /* Стиль при активном состоянии переключателя */

.toggle-input:checked + .toggle-label {
    background-color: #86d9ff;
  }
  
.toggle-input:checked + .toggle-label .toggle-ball {
    transform: translateX(25px);
  }



//CONTAINER TO_DO
.todo-section {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}


//ITEM_TO_DO
.todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20%; 
    margin-bottom: 20px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.todo-item .delete-icon {
    width: 10px;
    height: 10px;
    background-color: #e9aac9;
    margin-left: 10px;
    cursor: pointer;
}

//NAV
.container-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    row-gap: 10px;
    align-items: baseline;
}

.lang-switch {
    visibility: hidden;
}

///header

#header {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

.header-first {
    display: inline;
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 50px;
    color: #333;

    &.header-first-light {
        color: whitesmoke;
    }

    &.header-first-dark {
        color: #1f1f1f;
    }
}
    


.header-second {
    display: inline;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: #1f1f1f;

    &.header-second-light {
        color: whitesmoke;
    }

    &.header-second-dark {
        color: #1f1f1f;
    }
}

